<div class="container">
    <div class="row">
        <div class="col-md-12  p-5">
            <div class="card shadow-effect " routerLink="/categories">
                <h3 class="text-center mt-2 text-theme-primary"> {{formStatus}} New Categories</h3>
                <p class="text-center mb-5"> You can {{formStatus}} New Categories From Here</p>

                <form action="" class="form-inline" #categoryForm = 'ngForm' (ngSubmit) = 'onSubmit(categoryForm)' >
                    <div class="form-group col-md-8 offset-2">
                        <input type="text" name="category" class="form-control" placeholder="Add New Categories"
                        #newCategory = 'ngModel'
                        [(ngModel)] = 'formCategory'
                        required
                        [ngClass] = "{ 'is-invalid' : newCategory.touched && newCategory.invalid }">

                        <div class="alert alert-danger" *ngIf = "newCategory.touched && newCategory.invalid">
                            Category Field is required
                        </div>
                    </div>

                    <div class="col-md-12 mt-4 text-center">
                        <button class="btn btn-block btn-info mb-2 btn-sub"
                        [disabled] ="newCategory.touched && newCategory.invalid">{{formStatus}} Category</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row mt-5 mb-5">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card shadow-effect">
                <div class="card-body">
                    <table class="table row-border hover">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Category</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor = 'let c of categoryArray; let i = index'>
                                <td> {{ i+1 }} </td>
                                <td>{{c.data.category}}</td>
                                <td>
                                    <button class="btn btn-sm btn-warning" (click) = "onEdit(c.data.category , c.id)"> Edit </button>
                                    <button class="btn btn-sm btn-danger m-2" (click) = "onDelete(c.id)"> Delete </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>